.logo{
    margin-top: 5px;
    position: fixed;
    left: 20px;
    width: 80px;
}

.avatar{
    margin-top: 5px;
    margin-bottom: 5px;
    position: fixed;
    right: 20px;
    width: 25px;
    height: 25px;
    border-radius: 10px;
}
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 33px;
    display: flex;
    
    justify-content: space-between;
    background-color: #111;
}